body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: #faf9f6;
    color: #00361b;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

.header--main {
    display: flex;
    align-items: center;
    padding-inline: 4.74rem;
    height: 100px;
    box-shadow: 0 1px 5px #00000021;
    justify-content: center;
}

.header--main nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.hide {
    display: none;
}

.header--main__pages {
    flex-direction: column;
    /* gap: 1.75rem; */
    font-size: 1.09rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    background-color: #faf9f6;
    min-height: 70%;
    justify-content: center;
    padding-bottom: 10rem;
}

.header--main__pages li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.header--main__social {
    position: absolute;
    margin: 0;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    top: 550px;
    background-color: #faf9f6;
    justify-content: center;
    gap: 1.55rem;
}

.header--main__social li {
    font-size: 1.3rem;
    height: fit-content;
}

.header--main__pages a {
    text-decoration: none;
    color: inherit;
    transition: color 250ms;
}

.header--main__pages a[href^="index"] {
    color: #b2d12c;
    font-weight: 500;
}

.header--main__pages a:hover:not(a[href^="index"]) {
    color: #e85a2a;
}

.header--main__title {
    font-size: 1.3rem;
    letter-spacing: -1.5px;
    font-weight: 600;
    text-transform: uppercase;
}

.header--main__title a {
    color: #e85a2a;
    text-decoration: none;
    transition: color 200ms;
}

.header--main__title a:hover {
    color: #b2d12c;
}

.header--main__nav-links {
    order: 1;
}


.header--main__social a {
    background-size: 0.9rem;
    background-repeat: no-repeat;
    transition: all 250ms;
    color: #00361b;
}

.header--main__social a i:hover {
    color: #e85a2a;
}

.header--main__menu {
    cursor: pointer;
    height: 19px;
    width: max-content;
    position: absolute;
    right: 1rem;
}

.menu {
    height: 3px;
    width: 22px;
    background-color: #e85a2a;
    position: relative;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.menu::after,
.menu::before {
    content: "";
    height: 2px;
    width: 22px;
    display: inline-block;
    background-color: #e85a2a;
    position: absolute;
}

.menu::after {
    transform: translateY(6px);
}

.menu::before {
    transform: translateY(-6px);
}

.main--work {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.main--work article {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main--work__eco {
    background-image: url(../imagens/Ecossistemas-da-Inovacao-SHOT-01.gif);
}

.main--work__lara {
    background-image: url(../imagens/Lara-a-Lagarta-SHOT-03.gif);
}

.main--work__ppga {
    background-image: url(../imagens/PPGA-20-Anos-SHOT-02.gif);
}

.main--work article a img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: all 200ms ease;
}

.main--work a {
    position: relative;
}

.work--content {
    position: absolute;
    z-index: 1;
    background-color: #00361ba2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    transition: all 200ms ease;
}

.main--work article a:hover img,
.main--work article a:hover .work--content {
    opacity: 1;
}

.work--content__title,
.work--content__p {
    margin: -0.25em;
}

.work--content__title {
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 0.9;
    width: 100%;
    text-align: center;
}

.work--content__p {
    font-weight: 300;
    font-size: 0.85em;
    margin-top: 0.5rem;
}

.footer--main {
    color: #c998e8;
    text-align: center;
    padding: 2.5em;
}

.footer--main p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1.3px;
    font-size: 0.95em;
}

.sm-12 {
    grid-column: 1 / -1;
}

@media screen and (min-width: 33.8125em) {
    .md-6 {
        grid-column: span 6;
    }

    .header--main__title a {
        font-size: 1.6rem;
    }

    .work--content__title {
        font-size: 1rem;
    }

    .footer--main {
        justify-self: flex-end;
    }
}

@media screen and (min-width: 58.25em) {
    .lg-4 {
        grid-column: span 4;
    }

    .work--content__title {
        font-size: 1.6rem;
    }

    .header--main nav {
        display: block;
        flex: 1;
    }

    .menu {
        display: none;
    }

    .header--main__pages {
        position: initial;
        flex-direction: row;
        gap: 2rem;
        z-index: initial;
        background-color: initial;
        min-height: initial;
        justify-content: initial;
        padding-bottom: initial;
    }

    .header--main__pages li {
        display: initial;
        width: initial;
        text-align: initial;
        padding: initial;
    }

    .header--main__social {
        position: initial;
        background-color: #faf9f6;
        justify-content: flex-end;
        gap: 1.55rem;
    }

    .header--main__social li {
        font-size: initial;
        height: fit-content;
    }
}